body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(40, 40, 88);
  font-weight: bolder;
  font-style: italic;
}
.card-container {
  display: flex;
  flex-direction: column;
  padding: 5px 25%;
}
.card {
  margin: 10px;
  width: 300px;
  height: 200px;
  background: rgb(135, 160, 231);
  background: linear-gradient(
    0deg,
    rgb(255, 162, 131) 24%,
    rgb(232, 175, 255) 87%
  );
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.219);
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card:hover {
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.219);
}

.card-title:hover {
  color: white;
  font-size: 1.5em;
}
